In [1]:
import pandas as pd
import numpy as np
import nltk
import pickle
import matplotlib.pyplot as plt

In [52]:
import lenskit
import lenskit.crossfold as xf
from lenskit.crossfold import TTPair

In [53]:
from lenskit.algorithms import als, basic, item_knn, user_knn
from lenskit.algorithms.basic import Fallback
from lenskit.algorithms.als import BiasedMF, ImplicitMF
from lenskit.algorithms.implicit import BPR

In [54]:
from lenskit.batch import MultiEval
from lenskit.crossfold import partition_users, SampleN
from lenskit.crossfold import sample_users, SampleN
from lenskit import batch, topn, util

In [55]:
saved = open("pickle/game_reviews.pickle","rb")
game_reviews = pickle.load(saved)
game_reviews.head()

,funny,helpful,item_id,last_edited,posted,recommend,review,user_id
0,,No ratings yet,1250,,"Posted November 5, 2011.",True,Simple yet with great replayability. In my opi...,76561197970982479
1,,No ratings yet,22200,,"Posted July 15, 2011.",True,It's unique and worth a playthrough.,76561197970982479
2,,No ratings yet,43110,,"Posted April 21, 2011.",True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,,15 of 20 people (75%) found this review helpful,251610,,"Posted June 24, 2014.",True,I know what you think when you see this title ...,js41637
4,,0 of 1 people (0%) found this review helpful,227300,,"Posted September 8, 2013.",True,For a simple (it's actually not all that simpl...,js41637

In [70]:
user_game = open("pickle/user_games.pickle","rb")
user_games = pickle.load(user_game)
user_games.shape

(5094082, 3)

In [57]:
user_games = user_games.rename(columns={'user_id': 'user', 'item_id': 'item'})
user_games_list = user_games[['item', 'user']]
user_games_list.head()

   item               user
0    10  76561197970982479
1    20  76561197970982479
2    30  76561197970982479
3    40  76561197970982479
4    50  76561197970982479

In [65]:
reviews = game_reviews[['item_id', 'user_id','review']]
reviews = reviews.rename(columns={'user_id': 'user', 'item_id': 'item'})
reviews['item'].nunique()

3682

In [60]:
rev_item = set(reviews['item'])   ## reviewed item  3682
user_item = set(user_games['item'])  ##items in user item data  10978
item_with_rev = user_item.intersection(rev_item) ## items that have reviews
user_item_rev = user_games_list[user_games_list['item'].isin(list(item_with_rev))] 
result = pd.merge(user_item_rev, reviews, how = 'outer', on=['item', 'user'])

### items that have reviews. users who do not write reviews but have those items in list

In [79]:
result.shape

(4219381, 3)

In [78]:
result.isna().sum()

item            0
user            0
review    4160951
dtype: int64

In [35]:
def groupby_count(df, group, count):
    game_count = pd.DataFrame()
    game_count['count'] = df.groupby(group)[count].nunique()
    return game_count

In [36]:
def prune(df, condition):     ## returns a dataframe that meet the given condition
    user_n = df.loc[df['count'] < condition ]
    return user_n

In [37]:
game_count = groupby_count(result, 'user', 'item')
game_count.sort_values(by = 'count', ascending = False).head()

              count
user
phrostb        2698
chidvd         2514
piepai         2419
thugnificent   2373
DeEggMeister   1914

In [38]:
user_5 = prune(game_count, 5)
user_less_5 = user_5.index
pruned_data_5 = result.set_index('user').drop(user_less_5)
pruned_data_5.reset_index(inplace = True)
pruned_data_5.head()

                user  item review
0  76561197970982479    10    NaN
1  76561197970982479    20    NaN
2  76561197970982479    30    NaN
3  76561197970982479    40    NaN
4  76561197970982479    50    NaN

In [39]:
pruned_data_5.isna().sum()

user            0
item            0
review    4144758
dtype: int64

In [41]:
pairs_user = list(sample_users(pruned_data_5, 5, 10000, xf.SampleN(1)))

In [42]:
#pickle_in = open("../sample_user.pickle","rb")
#pairs_user = pickle.load(pickle_in)
truth = pd.concat((p.test for p in pairs_user))
truth.shape

(50000, 3)

In [22]:
from fastparquet import ParquetFile
test.to_parquet('sample.parquet')
new_test = pd.read_parquet('sample.parquet')

/home/amifaraj/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:114: FutureWarning: A future version of pandas will default to `skipna=True`. To silence this warning, pass `skipna=True|False` explicitly.
  result = infer_dtype(pandas_collection)
/home/amifaraj/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
/home/amifaraj/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
/home/amifaraj/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

In [3]:
import pandas as pd
import numpy as np
import pickle
from lenskit import batch, topn, util

file = open("comp_user.pickle","rb")
pairs_user = pickle.load(file)

truth = pd.concat((p.test for p in pairs_user))
result = pd.read_parquet('results/steam/comp/recommendations.parquet')
def RR(rec, truth):
    #recs = pd.read_parquet(file_name)
    rla = topn.RecListAnalysis()
    rla.add_metric(topn.recall)
    RR_result = rla.compute(rec, truth)
    return RR_result

RR_algo_comp = RR(result, truth)
print("done with recip_rank")

##RR_algo_comp.to_parquet('results/steam/comp/lt_recall.parquet')
#RR_algo_comp.to_csv("results/steam/pruned_5_new/RR_algo1000.csv", ignore_index=True)

pickle_out = open("results/steam/comp/lt_recall.pickle","wb")
pickle.dump(RR_algo_comp, pickle_out, protocol = 4)
pickle_out.close()


### join with algo name
legend = pd.read_csv("results/steam/comp/runs.csv")
legend = legend.set_index('RunId').loc[:,'AlgoStr']

RR_algo = RR_algo_comp.join(legend, on='RunId')

#RR_algo.to_parquet('results/steam/comp/lt_recal100.parquet')
#RR_algo.to_csv("results/steam/pruned_5_new/RR_algoname1000.csv", ignore_index=True)

pickle_out = open("results/steam/comp/lt_RR_algo.pickle","wb")
pickle.dump(RR_algo, pickle_out, protocol = 4)
pickle_out.close()

print("done with merging")

/home/amifaraj/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
/home/amifaraj/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
/home/amifaraj/anaconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

done with recip_rank
done with merging

In [4]:
RR_algo

                         recall AlgoStr
user              RunId
--000--           5         0.0     LDA
                  6         0.0  Tf-IDF
--ionex--         3         1.0     LDA
                  4         1.0  Tf-IDF
-2SV-vuLB-Kg      9         0.0     LDA
                  10        0.0  Tf-IDF
-404PageNotFound- 5         0.0     LDA
                  6         0.0  Tf-IDF
-AnimeIsMyThing-  3         1.0     LDA
                  4         0.0  Tf-IDF
-Beave-           3         0.0     LDA
                  4         1.0  Tf-IDF
-GM-Dragon        5         0.0     LDA
                  6         0.0  Tf-IDF
-I_AM_EPIC-       5         0.0     LDA
                  6         1.0  Tf-IDF
-JT               3         0.0     LDA
                  4         1.0  Tf-IDF
-Kenny            9         0.0     LDA
                  10        0.0  Tf-IDF
-KillZone-        5         0.0     LDA
                  6         1.0  Tf-IDF
-Mad-             7         0.0     LDA
                  8         0.0  Tf-IDF
-PRoSlayeR-       5         0.0     LDA
                  6         0.0  Tf-IDF
-SEVEN-           5         0.0     LDA
                  6         0.0  Tf-IDF
-Thyme-           3         0.0     LDA
                  4         1.0  Tf-IDF
...                         ...     ...
zvanik            5         0.0     LDA
                  6         0.0  Tf-IDF
zwanzigdrei       3         0.0     LDA
                  4         0.0  Tf-IDF
zxcvbnm6995       7         0.0     LDA
                  8         1.0  Tf-IDF
zxichigo          1         0.0     LDA
                  2         0.0  Tf-IDF
zxjinglebellsxz   7         0.0     LDA
                  8         0.0  Tf-IDF
zy0705            7         0.0     LDA
                  8         0.0  Tf-IDF
zychicken         3         0.0     LDA
                  4         0.0  Tf-IDF
zynking           1         0.0     LDA
                  2         0.0  Tf-IDF
zynoe             5         0.0     LDA
                  6         1.0  Tf-IDF
zyr0n1c           7         0.0     LDA
                  8         1.0  Tf-IDF
zyzzchris         7         0.0     LDA
                  8         0.0  Tf-IDF
zzeee             1         0.0     LDA
                  2         1.0  Tf-IDF
zzjang2           3         0.0     LDA
                  4         1.0  Tf-IDF
zzoptimuszz       5         0.0     LDA
                  6         0.0  Tf-IDF
zzyfo             7         0.0     LDA
                  8         1.0  Tf-IDF

[100000 rows x 2 columns]